.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 34px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .header {
    padding-top: 30px;
  }
}
@media screen and (max-width: 320px) {
  .header {
    padding-top: 20px;
  }
}
