.lead {
  max-width: 984px;
  margin: 0 auto;
  text-align: center;
}

.lead__title {
  font: "Inter";
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  margin: 0;
}
.lead__subtitle {
  margin: 0;
  padding-top: 32px;
  padding-bottom: 64px;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
}
.lead__image {
  max-width: 948px;
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .lead__title {
    font-size: 75px;
  }
}
@media screen and (max-width: 320px) {
  .lead__title {
    padding: 0 46px 16px;
    font-size: 45px;
  }
  .lead__subtitle {
    padding: 0 16px 40px;
    font-size: 16px;
  }
}
