.photo-grid {
  max-width: 1184px;
  margin: 0 auto 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}

.photo-grid__item {
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
    margin: 64px 24px 88px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
}
@media screen and (max-width: 320px) {
  .photo-grid {
    max-width: 288px;
    margin: 28px 16px 62px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 12px;
  }
}
