.places {
  width: 1035px;
  height: 100%;
  margin: 0 auto 0;
  display: grid;
  /*grid-template-columns: repeat(2, 1fr);*/
  grid-gap: 16px;
  padding: 0 0 72px;
}

@media screen and (max-width: 768px) {
  .places {
    width: 700px;
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .places {
    margin: 0;
  }
}
